@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='text'], input[type='email'], input[type='password'], input[type='number'], input[type='url'], input[type='datetime-local'], select, textarea {
    @apply bg-gray-50 border border-gray-300;
  }
  .dark input[type='text'], .dark input[type='email'], .dark input[type='password'], .dark input[type='number'], .dark input[type='url'], .dark input[type='datetime-local'], .dark select, .dark textarea {
    @apply bg-gray-700 border-gray-600;
  }
}

@media print {
  body {
    background-color: white !important;
  }
  .no-print {
    display: none !important;
  }
  .container {
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
  }
  aside, header {
    display: none !important;
  }
}
